# Postgres
export DB_HOSTNAME=localhost
export DB_NAME=accounts_management_api
export DB_NAME_TEST=accounts_management_api_test
export DB_NAME_DEV=accounts_management_api_dev
export DB_USERNAME=postgres
export DB_PASSWORD=postgres
export DB_PORT=5432

export SECRET_KEY_BASE=add_to_your_envrc_custom!!!

export GCLOUD_PROJECT_ID=taskero
export GCLOUD_PORT=8080
export APP_NAME=accounts_management_api

# User specific changes
# Overwrite defaults in this file with your own values in .envrc.custom
[ -f .envrc.custom ] && source .envrc.custom
